:root {
  --default-font-style: "Roboto", sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none; }

input:focus {
  outline: none; }

blockquote {
  line-height: 1.5; }

ul li {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

.task-list {
  background-color: gray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .task-list__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem; }

.task {
  position: relative;
  background-color: hotpink;
  margin-top: 1rem;
  font-size: 2rem;
  padding-bottom: 3rem; }
  .task__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background-color: indianred; }
    .task__topbar__color-swatch {
      color: green; }
  .task__content {
    padding: 1rem; }
  .task__owner {
    position: absolute;
    bottom: 0;
    right: 0; }

.nav-bar {
  background-color: blue;
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.utility-bar {
  background-color: green;
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 5rem;
  left: 0; }

.task-board {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 30rem);
  gap: 2rem;
  margin-top: 10rem;
  padding: 2rem;
  min-width: 100vw;
  overflow: scroll;
  background-color: cadetblue;
  min-height: calc(100vh - 11.5rem); }
