:root {
  --default-font-style: "Cairo", sans-serif;
  --default-font-color: #0a0a0a;
  --color-darkest: #141414;
  --color-darker: #424242;
  --color-dark: #616161;
  --color-light-grey: #c1c8e4;
  --color-darker-blue: #2e445b;
  --color-dark-blue: #395470;
  --color-light-blue: #5180b1; }

::selection {
  background: #8b91e0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  line-height: 1;
  color: var(--default-font-color); }

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none; }

input:focus {
  outline: none; }

blockquote {
  line-height: 1.5; }

ul li {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

.task-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #222222;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75); }
  .task-list__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 1rem; }
    .task-list__topbar__heading {
      width: 90%;
      padding: 1rem;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      transition: all 0.2s; }
      .task-list__topbar__heading:hover {
        background-color: #1a1a1a; }
  .task-list__task-container {
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--color-light-blue); }
  .task-list__text-area {
    width: 90%;
    font-size: 2.25rem;
    font-weight: 700;
    padding: 1rem;
    color: var(--color-light-blue);
    background-color: #1a1a1a;
    overflow: hidden;
    resize: none;
    outline: 2px dashed var(--color-light-blue);
    border: none;
    animation: rotateOutline 1.2s infinite;
    transition: all 0.2s; }

.new-task-list {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  border-radius: 3px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  border: 2px dashed var(--color-dark-blue);
  color: var(--color-light-blue);
  background-color: transparent;
  transition: all 0.2s; }
  .new-task-list:hover {
    border: 2px dashed var(--color-light-blue);
    font-size: 2.25rem; }
  .new-task-list > span {
    pointer-events: none; }

.new-task {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  min-height: 7.5rem;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-top: 1rem;
  padding: 1.75rem;
  font-size: 2rem;
  line-height: 1.25;
  color: #ffffff;
  background-color: var(--color-darkest);
  background-color: #363537;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  transition: all 0.2s; }
  .new-task:hover {
    background-color: var(--color-darker);
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75); }
  .new-task__text {
    width: 100%;
    pointer-events: none; }
  .new-task__text-area {
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: transparent;
    overflow: hidden;
    resize: none;
    outline: none;
    border: none; }
  .new-task__priority-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.75rem;
    background: linear-gradient(#696969 0%, #9e9e9e 100%);
    transition: transform 0.2s ease-out;
    cursor: pointer; }
    .new-task__priority-bar:hover {
      transform: scaleX(2); }
    .new-task__priority-bar--high {
      background-color: red;
      background: linear-gradient(#f07470 0%, #ea4c46 100%); }
    .new-task__priority-bar--medium {
      background-color: orange;
      background: linear-gradient(#fd9346 0%, #fd7f2c 100%); }
    .new-task__priority-bar--low {
      background: linear-gradient(#83d475 0%, #57c84d 100%); }

.new-task-btn {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: transparent;
  border: 2px dashed var(--color-dark-blue);
  color: var(--color-light-blue);
  border-radius: 4px;
  margin-top: 2rem;
  transition: all 0.2s; }
  .new-task-btn:hover {
    border: 2px dashed var(--color-light-blue);
    font-size: 2.25rem; }

.ellipsis__container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3rem;
  width: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  transition: all 0.2s;
  cursor: pointer; }
  .ellipsis__container:hover > .ellipsis__dot {
    background-color: var(--color-light-blue); }

.ellipsis__dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  padding: 0.25rem;
  margin-top: 0.25rem;
  background-color: var(--color-dark);
  pointer-events: none; }

.priority-menu {
  position: absolute;
  z-index: 50;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  min-height: 12rem;
  width: 10rem;
  background-color: var(--color-light-blue);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  outline: none; }
  .priority-menu__item {
    color: #ffffff;
    background-color: var(--color-darkest);
    border-bottom: 2px solid var(--color-light-grey);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer; }
    .priority-menu__item--high:hover {
      color: #ea4c46;
      border-bottom: 2px solid #ea4c46; }
    .priority-menu__item--medium:hover {
      color: #fd7f2c;
      border-bottom: 2px solid #fd7f2c; }
    .priority-menu__item--low:hover {
      color: #57c84d;
      border-bottom: 2px solid #57c84d; }

.task-menu {
  position: absolute;
  z-index: 50;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  width: 16rem;
  background-color: var(--color-darkest);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  outline: none; }
  .task-menu__container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 3px solid var(--color-light-grey);
    cursor: pointer; }
    .task-menu__container--complete:hover {
      border-bottom: 3px solid #57c84d; }
      .task-menu__container--complete:hover > button {
        color: #57c84d; }
    .task-menu__container--blocked:hover {
      border-bottom: 3px solid #a74cab; }
      .task-menu__container--blocked:hover > button {
        color: #a74cab; }
    .task-menu__container--delete:hover {
      border-bottom: 3px solid #ea4c46; }
      .task-menu__container--delete:hover > button {
        color: #ea4c46; }
    .task-menu__container--date:hover {
      border-bottom: 3px solid #d5b876; }
      .task-menu__container--date:hover > button {
        color: #d5b876; }
  .task-menu__item {
    height: 5rem;
    color: #ffffff;
    background-color: var(--color-darkest);
    font-size: 1.5rem;
    font-weight: 700;
    pointer-events: none; }
  .task-menu__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; }
  .task-menu__icon {
    height: 2.5rem;
    width: 2.5rem; }

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); }

.utility-bar {
  position: fixed;
  top: 5rem;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); }

.task-board {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 35rem);
  grid-auto-columns: 35rem;
  grid-auto-rows: 0;
  grid-auto-flow: column;
  gap: 2rem;
  align-items: start;
  min-height: 100vh;
  min-width: 100%;
  padding-top: 12rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #131313; }
  .task-board::before {
    content: "";
    background-image: url(../img/email-pattern.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.15;
    width: 100%;
    height: 100%; }

.focus-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.6; }

h2 {
  font-size: 2.25rem;
  color: var(--color-light-blue); }

@keyframes rotateOutline {
  50% {
    outline: 2px dashed var(--color-dark-blue); } }

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0; }
