// SASS Variables

// // Breakpoints
$bp-max: 125em; // 2000px
$bp-largest: 87.5em; // 1400px
$bp-large: 68.75em; // 1100px
$bp-medium: 62.5em; // 1000px
$bp-small: 46.875em; // 750px
$bp-smaller: 40.625em; // 650px
$bp-smallest: 31.25em; // 500px

// CSS Variables

:root {
  // Fonts
  --default-font-style: "Cairo", sans-serif;

  // Colours
  --default-font-color: #0a0a0a;

  --color-darkest: #141414;
  --color-darker: #424242;
  --color-dark: #616161;
  --color-light-grey: #c1c8e4;

  --color-darker-blue: #2e445b;
  --color-dark-blue: #395470;
  --color-light-blue: #5180b1;

  --color-soft-red: #f07470;
  --color-hard-red: #ea4c46;

  --color-soft-orange: #fd9346;
  --color-hard-orange: #fd7f2c;

  --color-soft-green: #83d475;
  --color-hard-green: #57c84d;

  --color-purple: #8b91e0;

  // Sizes
}

::selection {
  background: var(--color-purple);
}

// Reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  line-height: 1;
  color: var(--default-font-color);
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

input {
  &:focus {
    outline: none;
  }
}

blockquote {
  line-height: 1.5;
}

ul li {
  list-style-type: none;
}

a {
  color: var(--color-dark-blue);
  text-decoration: underline;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
}
