.task-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 1.5rem;
  border-radius: 3px;

  background-color: var(--color-light-grey);

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.25rem;

    &__heading {
      width: 90%;
      padding: 1rem;

      overflow-wrap: break-word;
      white-space: pre-wrap;

      transition: all 0.2s;
    }

    &__btn {
    }
  }

  &__text-area {
    width: 90%;

    font-size: 2rem;
    font-weight: 700;

    padding: 1rem;

    background-color: darken(#c1c8e4, 5%);

    overflow: hidden;
    resize: none;
    outline: none;
    border: none;

    transition: all 0.2s;
  }
}

.new-task-list {
  display: flex;
  align-items: center;

  height: 5rem;
  border-radius: 3px;
  padding: 1rem;

  font-size: 2rem;

  background-color: rgba(193, 200, 228, 0.7);

  &:hover {
    background-color: rgba(193, 200, 228, 0.9);
  }

  & > span {
    pointer-events: none;
  }
}

.task {
  position: relative;

  margin-top: 1rem;
  padding-bottom: 3rem;
  border-radius: 3px;

  font-size: 2rem;

  background-color: #ffffff;

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2.5rem;

    background-color: indianred;

    &__btn {
    }

    &__color-swatch {
      color: green;
    }
  }

  &__content {
    padding: 1rem;
  }

  &__owner {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.new-task {
  display: flex;
  align-items: center;

  min-height: 5rem;
  border-radius: 3px;
  margin-top: 1rem;
  padding: 1rem;

  font-size: 2rem;

  background-color: rgba(#ffffff, 0.65);
  box-shadow: 3px 3px 3px -2px rgba(87, 87, 87, 1);

  overflow-wrap: break-word;
  white-space: pre-wrap;

  transition: all 0.2s;

  &:hover {
    box-shadow: 4px 4px 3px -2px rgba(87, 87, 87, 1);
    background-color: rgba(#ffffff, 0.85);
  }

  &__text {
    width: 100%;
    pointer-events: none;
  }

  &__text-area {
    width: 100%;
    min-height: 100%;
    height: auto;
    border: 3px solid #cccccc;
    padding: 5px;

    background-color: transparent;
    overflow: hidden;
    resize: none;
    outline: none;
    border: none;
  }

  &--populated {
    background-color: #ffffff;

    &:hover {
      background-color: #ffffff;
    }
  }
}
