.nav-bar {
  position: fixed;
  top: 0;
  left: 0;

  height: 5rem;
  width: 100%;

  background-color: rgba(#ffffff, 0.5);
}

.utility-bar {
  position: fixed;
  top: 5rem;
  left: 0;

  height: 5rem;
  width: 100%;

  background-color: rgba(#ffffff, 0.2);
}

.task-board {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 35rem);
  grid-auto-columns: 35rem;
  grid-auto-rows: 0;
  grid-auto-flow: column;
  gap: 2rem;

  // min-height: calc(100vh - 11.5rem);
  min-height: calc(100vh);
  min-width: 100%;

  padding-top: 12rem;
  padding-left: 2rem;
  padding-right: 2rem;

  overflow-x: scroll;
  overflow-y: hidden;

  background: rgb(132, 206, 235);
  background: linear-gradient(
    45deg,
    rgba(132, 206, 235, 0.85) 0%,
    rgba(90, 185, 234, 0.85) 50%,
    rgba(86, 128, 233, 0.85) 100%
  );
}
