.nav-bar {
  position: fixed;
  top: 0;
  left: 0;

  height: 5rem;
  width: 100%;

  background-color: blue;
}

.utility-bar {
  position: fixed;
  top: 5rem;
  left: 0;

  height: 5rem;
  width: 100%;

  background-color: green;
}

.task-board {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 30rem);
  grid-auto-columns: 30rem;
  grid-auto-rows: 0;
  grid-auto-flow: column;
  gap: 2rem;

  min-height: calc(100vh - 11.5rem);
  min-width: 100vw;

  margin-top: 10rem;
  padding: 2rem;
  margin-right: 5rem;

  overflow-x: scroll;
  overflow-y: hidden;

  background-color: cadetblue;
}
