h2 {
  font-size: 2.25rem;
  color: var(--color-light-blue);
}

.question {
  font-weight: 700;
}

.answer {
  font-style: italic;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(#000000, 0.65);
}
