@mixin flexCentering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absPositionLeftZero {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absPositionRightZero {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin cardStatusIconDefault {
  height: 0.5rem;
  width: 0.5rem;

  padding-right: 1.5rem;
  padding-bottom: 1.5rem;

  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;

  opacity: 0.75;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
