@mixin flexCentering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absPositionLeftZero {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absPositionRightZero {
  position: absolute;
  top: 0;
  right: 0;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
